# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Credentials
*.json

# macOS
.DS_Store

# Logs
*.log
.idea/
gcp-credentials.json
alerts.db
requirements.txt